
body{
    background-color:white  ;
    margin:0px;
    padding-top:60px;
    
  }
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(243, 11, 11, 0); 
}
/*----------------------------------------------------------- navbar --------------------------------------*/
/* .logo{
    
    width: 100px;
    height:100%;    
    margin: 10px;
    margin-left:30px;
} */
.navbar-brand {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 0.3125rem;
    margin-left: 5%;
    scroll-padding-left: 10%;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap; 
    font-weight: 900;
     font-size: 26px;
     position: relative;
     z-index: 0;
}
.navbar-brand:hover{
         color:black;
     }
.navbar-brand:after {
  position: absolute;
  top: 50%;
  left: -0.2px;
  width: 40px;
  height: 40px;
  content: '';
  background: blueviolet;
  z-index: -1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }
.navbar-brand>span {
  color: #fff; }
.nav-item:hover{
    border-bottom: 3px solid red;
}
/* .navlink{
    margin:0px 90px;    
} */
.pad{
    padding-right:10px;
} 

.colo{
    text-transform: uppercase;
    font-weight: 1000;
    padding: 1px
    
}

/*------------------------------------------------ end of navbar -----------------------------------------*/

/*------------------------------------------------ banner area  ---------------------------------------------*/
.text{
    padding-top: 35%;
    font-weight: 1000;
    font:bold;
    padding-left:10%;

}

.text::after{
    content:"";
    height:2px;
    width:18vw;
    background: black;
    display:inline-block;
    margin-left: 3%;
}
.txt{
    font-size: 50px;
    font:bold;
    padding-left:10%;
}
.texte{
    font-weight: 1000;
    font:bold;
    padding-bottom: 20%;
    padding-left:10%;
}
/*-------------------------------------------------- end of banner area  ---------------------------------*/

/*----------------------------------------------- about section  -------------------------------------*/
.cen{
    text-align: center;
    color:rgb(150, 141, 141);
}
.lar{
    font-size: medium;
    margin-right: 10%;
    margin-left: 10%;
    padding-top:20px;
}
.im{
    height:auto;
    width:100%;
    padding:20px;
}
.cent{
    text-align:center;
    font:bold;
    font-weight:700;
    font-size: 50px;
    color: blueviolet;
    padding-top: 30px;}
.img1{
    
    height:auto;
    width:100%;
    
}
.back{
    padding:20px;
    text-align: justify;
}
.nomarg{
    margin:0px 8%;
    
}

.rmar{
    margin-top:20px;
}
.pb{
    padding-bottom: 15px;
}
ul.about-info {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top:10px;
    padding-left: 10%;
    font-size: large;
    width: 100%; }
     ul.about-info li {
      list-style: none;
      margin-bottom: 10px; }
      ul.about-info li span {
        width: calc(100% - 130px); }
        ul.about-info li span:first-child {
          font-weight: 600;
          color: #000000;
          width: 130px; }
/*-----------------------------------------end of about section  -------------------------------------*/
.boxa{
    margin:10px;
    box-shadow: 3x 30px rgba(0,0,0,.9);
    padding:30px;
    background-color:#f5f5f5;
    transition:  .8s;
    word-spacing: 3px;  
}

.hov:hover{    
    color:blueviolet;
    background-color:aqua;
    
}
.ico{
    font-size: 100px;
    margin: 40px;
    color: blueviolet;
}
.seca{
    margin-left: 35%;
    width:30%;
    border-color: blueviolet;
}
.her{
    border-color: blueviolet;

}

/*------------------------------------------- contact section -------------------------------------------- */
.box{
    margin:10px;
    box-shadow: 3x 30px rgba(0,0,0,.9);
    padding:30px;
    background-color:#f5f5f5;
    transition:  .8s;
    word-spacing: 3px;  
    border-bottom-style:solid ;
    border-color: blueviolet;
    border-width: 5px;
}
.shadow {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; 
}
.p-4 {
    padding: 1.5rem !important; 
}
.padi{
    padding: 30px 0px;
}
.siza{
    font-size: 80px;
    margin: 40px;
    color: blueviolet;
}
.bac{
    background-color: whitesmoke;
    /* padding:0px;
    margin:0px; */
}
 .contact-form .btn-primary {
    display: block;
    width: 100%; } 
.py-3 {
        padding-top: 1rem !important; }
.px-5 {
        padding-right: 3rem !important; }
.centa{
    color: blueviolet;
    text-align:center;
    font:bold;
    font-weight:500;
    font-size: 50px;
}
.img3{
     width: 100%;
     height: auto;
    background-position: top center; 
    margin:17px 0px;

  }
.marg{
    margin-top:80px;
    margin-bottom: 20px;

}


/*-------------------------------------------- contact section end  ---------------------------------------*/
/*------------------------------------------------ footer section------------------------------------------ */
.ftco-footer {
    font-size: 16px;
    color: whitesmoke;
    background: #000000;
    /* padding: 2em 0; */
    z-index: 0; 
    
}

.sec{
    margin-left: 0px;
    width:30%;
    border-color: blueviolet;
}
.lin{
    border-color:aqua;
}
.butt {
    background-color: Transparent;
    background-repeat:no-repeat;
    
    cursor:pointer;
    overflow: hidden;
  
}

.webb{
    padding: 5px;
    padding-left: 20px;
} 
.siz{
    font-size: 40px;
    margin-top: 40px;
    color: blueviolet;
  
}
/*----------------------------------------------- End of footer-------------------------------------------- */

*{
    margin:0;
    padding:0;
}